@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "uloha3";
}
<div class="jebo">
    @for (int i = 1; i < 7; i++)
    {
        <div class="card">
            <img src="https://i.redd.it/dljs1tvhot061.jpg" alt="Alternate Text" />
            <h1>KSI</h1>
            <p>cigansky sen @i</p>
            <button class="btn btn-secondary"><a href="/">Spat</a></button>
        </div>
    }
</div>
