@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<UserInfo>
<h1>Úloha 4</h1>
<table>
    <tr class="prvy-riadok">
        <td>Meno</td>
        <td>email</td>
        <td>heslo</td>
        <td>telefon</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>@user.Password</td>
            <td>@user.Phone</td>
        </tr>
    }
</table>